<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">

      <li role="presentation"
      routerLinkActive="active">
      <a [routerLink]="['/users']">Users</a>
    </li>
    <li role="presentation"
        routerLinkActive="active">
        <a [routerLink]="['/queue']">Queue</a>
      </li>
      </ul>
    </div>
  </div>
</div>
<div id="form">
<div class="container">
  <div class="col-xs-12">
    <h3>Users</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2">
      <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="user">User</label>
            <input
            type="text"
            id="user"
            class="form-control"
            ngModel
            name="user"
            required>
          </div>
          <!-- <button class="btn btn-default" type="button">Suggest a Username</button> -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
        </div>

        <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- <div class="container"> -->
  <div class="col-md-7">
  <hr>
</div>
<!-- </div> -->

<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a style="cursor: pointer;"
      class="list-group-item"
      *ngFor="let user of myUsers">
      {{ user.name }} - {{user.email}}
      </a>
    </div>
  </div>
</div>
</div>
</div>
