<link rel='stylesheet' href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Night_Stars.jpg/1280px-Night_Stars.jpg">
<div id="jumbo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>What's Next?</h1>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Similar Movies </a>
    </div>
  </div>
</nav>
<hr>
<div class="container">
  <input id="input" type="text" >
  Genre 1
</div>

<div class="container">
  <input id="input" type="text" >
  Genre 2
</div>

<div class="container">
  <input id="input" type="text" >
  Genre 3
</div>



