<div id="jumbo" class="jumbotron jumbotron-fluid">
  <div>
    <h1>NEXT-FLIX</h1>
  </div>
</div>

<div id= 'body'>

<nav id="navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">

      <li role="presentation"
      routerLinkActive="active">
      <a
      id="nav-selectors"
      [routerLink]="['/users']">Users</a>
    </li>
    <li role="presentation"
        routerLinkActive="active">
        <a
        id="nav-selectors"
        [routerLink]="['/queue']">Queue</a>
      </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-3 col-sm-offset-1 col-md-offset-2">
    <form
    #searchForm="ngForm"
    (ngSubmit)="onFetchMovies(searchForm.value.search)"
    class="form-inline">
      <div class="form-group mr-2">

        <!-- SEARCH -->

      <input
      type="search"
      class="form-control"
      name="search"
      id="search"
      placeholder="Search"
      [(ngModel)]="searchForm.value.search"
      required
      />
      </div>

    <button (click)="search()"
    class="btn btn-danger"
    type="submit"
    [disabled]="!searchForm.valid"
    >Submit</button>
  </form>



  <ul *ngFor="let result of results"
  class="results">
    <li class="title"> {{ result.original_title }} </li>
    <li class="poster"> {{ Img_URL+result.poster_path }} </li>
    <li class="vote"> {{ result.vote_average }} </li>

  </ul>

  </div>
</div>

<main id="main">
  <div class="movie">
    <img src="https://getwallpapers.com/wallpaper/full/9/b/e/374783.jpg" alt="">

    <div class="movie-info">
      <h3>Movie Title</h3>
      <span class="green">9.8</span>
    </div>

    <div class="overview">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium impedit mollitia accusantium doloremque aliquam. Sit harum enim quia quasi ullam.
    </div>
  </div>

  <div class="movie">
    <img src="https://getwallpapers.com/wallpaper/full/9/b/e/374783.jpg" alt="">

    <div class="movie-info">
      <h3>Movie Title</h3>
      <span class="green">9.8</span>
    </div>

    <div class="overview">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium impedit mollitia accusantium doloremque aliquam. Sit harum enim quia quasi ullam.
    </div>
  </div>

  <div class="movie">
    <img src="https://getwallpapers.com/wallpaper/full/9/b/e/374783.jpg" alt="">

    <div class="movie-info">
      <h3>Movie Title</h3>
      <span class="green">9.8</span>
    </div>

    <div class="overview">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium impedit mollitia accusantium doloremque aliquam. Sit harum enim quia quasi ullam.
    </div>
  </div>
<script src="script.js"></script>
</main>




<router-outlet></router-outlet>

</div>
